body {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.logo-title {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.logo-title img {
  width: 48px;
  height: 56.01px;
}
.title {
  color: #ff5400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 44px;
}
.menu a {
  text-decoration: none;
  color: rgb(66, 66, 71);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.menu a:hover {
  color: #ff5400;
}
.hamburgerMenu {
  display: none;
}
.exploreTravel {
  position: relative;
  color: white;
}
.exploreTravel img {
  margin-top: 10px;
  border-radius: 10px;
  filter: brightness(50%);
}
.exploreDetails {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exploreDetails h1 {
  margin-bottom: 30px;
}
.exploreInput {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  margin-left: 50px;
  padding: 10px;
}
.exploreInput input {
  width: 170px;
  height: 30px;
  border-radius: 5px;
}
.exploreInput button {
  width: 178px;
  height: 35px;
  background-color: #ff5400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popularTours {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: start;
}

.popularToursDetails h1,
.popularToursDetails p,
.popularToursDetails li {
  margin-top: 20px;
}
.popularTours button {
  background-color: #ff5400;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.popularTours img {
  width: 540px;
  border-radius: 10px;
}
.imageContainer {
  display: flex;
  justify-content: space-around;
}
.imageContainer img {
  padding-top: 15px;
  filter: brightness(90%);
  color: white;
}
.imgName {
  position: relative;
  color: white;
}
.name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-title img {
    width: 28.72px;
    height: 33.52px;
  }
  .logo-title h1 {
    font-size: 21.54px;
  }
  .menu a {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .hamburger {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
  }
  .exploreTravel {
    overflow: hidden;
  }

  .exploreTravel img {
    width: 300%;
    margin-left: -100%;
    border-radius: 20px;
  }
  .exploreDetails {
    top: 40%;
  }
  .exploreInput {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    gap: 10px;
  }

  .popularTours {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .popularTours img {
    width: 100%;
  }
  .imageContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imageContainer img {
    width: 100%;
  }
}
